* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* body {
  background-image: linear-gradient(to right bottom, #5a2b44, #522d4a, #49304f, #3f3251, #353452, #303c5b, #294462, #204c68, #155d76, #086f81, #128188, #2c928b);
} */

section:nth-child(odd) {
  background: #7b24c4;
}

/* Navbar */
@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #e2dc5a;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked)~.menu {
    display: none;
  }

  .menu-btn:checked~.menu {
    display: block;
  }

  .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked~.menu-icon .navicon::before,
  .menu-btn:checked~.menu-icon .navicon::after {
    top: 0;
  }
}

nav {
  /* top: 0; */
  /* position: fixed; */
  /* width: 17rem; */
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.77);
  backdrop-filter: blur(0.4rem);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

.dropbtn {

  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.77);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 60px;
  /* left: -5px; */
  z-index: 999;
}

.dropdown-content a {
  color: rgb(244, 244, 156);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #d3c802 */
  color: #d3c802;
}

.dropdown:hover .dropdown-content {
  display: block;
}




.first-page {
  margin-top: -18px;
  /* background-image: url(./img/bg.jpg); */
  background-color: #7b24c4;
  /* top: 0; */
  background-size: cover;
  background-attachment: fixed;
}

.karmakshetra-body {
  font-family: 'samarkan', sans-serif;
  margin: 2rem;
  text-shadow: 8px 12px 9px rgba(0, 0, 0, 0.37);
}




.Bytemonk-present {
  color: #f0f0d5;
  font-family: "Fira Code", monospace;
  font-weight: 900;
  font-size: 1.8rem;
  /* margin: 0 0 0 35%; */
  text-align: left;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* width: 170px; */
  /* animation: type 2s steps(40, end) forwards; */
}

.hackathon-descrip {
  color: #EFF0F4;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 30px;
}

.third-page {
  /* background-image: url(./img/bg4.jpg); */
  background-color: #7b24c4;
  background-size: cover;
  background-attachment: fixed;
}

/* Venue */

.venue-heading,
.organiser-heading,
.our-team, .prize-heading {
  color: gold;
  text-shadow: 2px 2px 1px rgba(0, 12, 174, 0.47);
}


/* prizes */

/* html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
} */
/* #prizes{
  height: 100vh;
} */



.card {
  /* perspective: 150rem; */
  /* -moz-perspective: 150rem; */
  margin: 20px;
  position: relative;
  height: 20rem;
  width: 22rem;
}
@media (max-width: 767px) {
  .card {
    width: 18rem;
  }
}
.card__side {
  height: 20rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #3a6186, #89253e);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #e96443, #904e95);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #ff00cc, #333399);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 12rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #3a6186, #89253e);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #e96443, #904e95);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #ff00cc, #333399);
}
.card__heading {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(58, 97, 134, 0.85), rgba(137, 37, 62, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(233, 100, 67, 0.85), rgba(144, 78, 149, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(255, 0, 204, 0.85), rgba(51, 51, 153, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid color-grey light_2;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 3.5rem;
  font-weight: 200;
}
.card__price-value sup {
  font-size: 0.65em;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
}
.btn--white {
  background-color: #fff;
  color: #777777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}/*# sourceMappingURL=cardflip3.css.map */


/* .prizes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eff0f4;
  font-family: "monospace";
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;



}

.drop {
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow:
    inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop:nth-child(1) {
  border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
}

.drop:nth-child(2) {
  border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}

.drop:nth-child(3) {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}

.drop:hover {
  border-radius: 50%;
}

.drop::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #FFF;
  border-radius: 50%;
  opacity: 0.9;
}

.drop::after {
  content: '';
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #FFF;
  border-radius: 50%;
  opacity: 0.9;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

.content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  color: var(--clr);
  background: #EFF0F4;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px -10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.025);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.content a {
  position: relative;
  padding: 10px 25px;
  background: var(--clr);
  text-decoration: none;
  color: #FFF;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s;
}

.content a:hover {
  opacity: 1;
}

.content a::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.content p {
  color: rgb(83, 76, 76);
}

@media (max-width: 600px) {
  .drop {
    width: 280px;
    height: 280px;
  }
} */




/* .active {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
} */

/* Pricing Section */

/* Themes Section */

.theme-container .card {
  position: relative;
  max-width: 18rem;
  height: 12rem;
  background-color: #fff;
  margin: 3rem 1rem;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out;
  border-radius: 15px;
}

.theme-container .card:hover {
  height: 280px;

  .themes-card-heading {
    display: none;
  }
}

.theme-container .card .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 13px;
  /* box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.theme-container .card .image img {
  /* width: 10rem; */
  width: 230px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);

}

.theme-container .card .content {
  position: relative;
  bottom: 94px;
  padding: 10px 15px;
  color: #111;
  /* text-align: center; */
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.theme-container .card .content h3 {
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
}

.theme-container .card .content p {
  letter-spacing: 1px;
  font-weight: 400;
}


.theme-container .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.themes-card-heading {
  position: absolute;
  bottom: 25px;
  left: 70px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
}



/* About */
#about .about-heading,
.mentor-heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.about-descrip {
  letter-spacing: 2px;
}

/* #about{
  background-image: linear-gradient(to right bottom, #5a2b44, #522d4a, #49304f, #3f3251, #353452, #303c5b, #294462, #204c68, #155d76, #086f81, #128188, #2c928b);

} */

/* Our Team */
.box {
  position: relative;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.top-bar {
  width: 50%;
  height: 4px;
  background: #507bfc;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fa-check-circle {
  color: #17b667;
}

/* creating heart */
.heart {
  color: rgba(155, 155, 155);
}

.heart::before {
  content: "\f004";
  font-family: fontawesome;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}

.box .heart-btn:checked~.heart::before {
  color: #e41934;
}

.heart-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 1rem;
  display: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90px; */
  /* border-radius: 100px; */
}

.content strong {
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}

.content img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

/* .content strong {
    color: #141414;
    margin-top: 10px;
  } */

.content p {
  width: 100%;
  /* font-weight: lighter; */
  font-size: 0.9rem;
  color: #7a7a7a;
  text-align: justify;
}

/* .content p:hover {
    text-decoration: underline;
  } */

/* Sponsors */