* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* body {
  background-image: linear-gradient(to right bottom, #5a2b44, #522d4a, #49304f, #3f3251, #353452, #303c5b, #294462, #204c68, #155d76, #086f81, #128188, #2c928b);
} */
/* Navbar */
@media (max-width: 952px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #aebac3;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}




.first-page {
  margin-top: -18px;
  /* background-image: url(./img/bg.jpg); */
  background-color: #7b24c4;
  /* top: 0; */
  background-size: cover;
  background-attachment: fixed;
}

.Bytemonk-present {
  color: #73b1b9;
  font-family: "Fira Code", monospace;
  font-weight: 800;
  font-size: 1.5rem;
  /* margin: 0 0 0 35%; */
  text-align: left;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* width: 170px; */
  /* animation: type 2s steps(40, end) forwards; */
}

nav {
  /* top: 0; */
  /* position: fixed; */
  /* width: 17rem; */
  background-color: rgba(0, 0, 0, 0.486);
  backdrop-filter: blur(0.4rem);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

.third-page {
  background-image: url(./img/bg4.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* prizes */

.prizes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eff0f4;
  font-family: "monospace";
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  
 
}

.drop {
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow:
      inset 20px 20px 20px rgba(0, 0, 0, 0.05),
      25px 35px 20px rgba(0, 0, 0, 0.05),
      25px 30px 30px rgba(0, 0, 0, 0.05),
      inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop:nth-child(1) {
  border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
}

.drop:nth-child(2) {
  border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}

.drop:nth-child(3) {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}

.drop:hover {
  border-radius: 50%;
}

.drop::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #FFF;
  border-radius: 50%;
  opacity: 0.9;
}

.drop::after {
  content: '';
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #FFF;
  border-radius: 50%;
  opacity: 0.9;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

.content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  color: var(--clr);
  background: #EFF0F4;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
      inset -2px -5px -10px rgba(255, 255, 255, 1),
      15px 15px 10px rgba(0, 0, 0, 0.05),
      15px 10px 15px rgba(0, 0, 0, 0.025);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.content a {
  position: relative;
  padding: 10px 25px;
  background: var(--clr);
  text-decoration: none;
  color: #FFF;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s;
}

.content a:hover {
  opacity: 1;
}

.content a::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.content p {
  color: rgb(83, 76, 76);
}

@media (max-width: 600px) {
  .drop {
      width: 280px;
      height: 280px;
  }
}



.venue {
  text-shadow: 2px 2px 1px rgba(0, 12, 174, 0.47);
}


.active {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

/* Pricing Section */

/* Themes Section */

.theme-container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.theme-container .card:hover {
  height: 320px;
}

.theme-container .card .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.theme-container .card .image img {
  max-width: 100%;
  border-radius: 15px;
}

.theme-container .card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#cover {
  font-family: "Times New Roman", Times, serif;
  color: #3e5151;
  font-size: larger;
  font-style: normal;
  font-weight: 400;
}

.theme-container .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

#themes {
  text-align: center;
  color: #c06c84;
  text-decoration: none;
}

/* About */
#about .about-heading{
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
/* #about{
  background-image: linear-gradient(to right bottom, #5a2b44, #522d4a, #49304f, #3f3251, #353452, #303c5b, #294462, #204c68, #155d76, #086f81, #128188, #2c928b);

} */

/* Our Team */
.box {
  position: relative;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.top-bar {
  width: 50%;
  height: 4px;
  background: #507bfc;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fa-check-circle {
  color: #17b667;
}

/* creating heart */
.heart {
  color: rgba(155, 155, 155);
}

.heart::before {
  content: "\f004";
  font-family: fontawesome;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}

.box .heart-btn:checked ~ .heart::before {
  color: #e41934;
}

.heart-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 1rem;
  display: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90px; */
  /* border-radius: 100px; */
}

.content strong {
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}

.content img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

/* .content strong {
    color: #141414;
    margin-top: 10px;
  } */

.content p {
  width: 100%;
  /* font-weight: lighter; */
  font-size: 0.9rem;
  color: #7a7a7a;
  text-align: justify;
}

/* .content p:hover {
    text-decoration: underline;
  } */

/* Sponsors */
#sponsors {
  background-color: #141414;
}
