* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}


section .row {
    position: relative;
    top: -100%;
    left: -20%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 56px;
    transform: rotate(30deg);
}


i {
    color: #051046;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

i:hover {
    transition: 0s;
    color: #fff;
    text-shadow: 0 0 120px #fff;
}


section .row div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}




section .row:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*glass effect*/
.glass {
    margin-top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 400px;
    background: black;
    border: 15px solid white;
}

.stand_neck {
    margin-top: 30rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 30px;
    border: 15px solid white;
}

.stand {
    margin-top: 35rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 0px;
    border: 15px solid white;
}


.glass .gif {
    display: absolute;
    margin: 0;
    padding: 0;
}

.glass .gif iframe {
    position: relative;
    margin-top: 0.5%;
    height: 400px;
    width: 800px;

}

@media (max-width: 900px) {
    section .row {
        position: relative;
        top: -50%;
        left: -20%;
        width: 100%;
        display: flex;
        padding: 10px 0;
        white-space: nowrap;
    }

    i:hover {
        text-shadow: 0 0 80px #fff;
        /* Adjust shadow for smaller screens */
    }

    .glass {
        height: 340px;
        /* Adjust height for smaller screens */
        width: 680px;
    }

    .glass .gif iframe {
        height: 340px;
        width: 680px;
    }

    .stand_neck {
        margin-top: 26rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 30px;
        border: 15px solid white;
    }

    .stand {
        margin-top: 31rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 0px;
        border: 15px solid white;
    }
}

/* Media queries for tablet and mobile */
@media (max-width: 768px) {
    section .row {
        font-size: 24px;
    }
    i:hover {
        text-shadow: 0 0 40px #fff;
        /* Adjust shadow for smaller screens */
    }

    .glass {
        height: 250px;
        /* Adjust height for smaller screens */
        width: 500px;
    }
   
    .glass .gif iframe {
        height: 250px;
        width: 500px;
    }
    
    .stand_neck {
        margin-top: 21rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 30px;
        border: 15px solid white;
    }

    .stand {
        margin-top: 26rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 0px;
        border: 12px solid white;
    }
}

@media (max-width: 480px) {
    section .row {
        font-size: 24px;
        /* Adjust font size for smaller screens */
    }

    i:hover {
        text-shadow: 0 0 40px #fff;
        /* Adjust shadow for smaller screens */
    }

    .glass {
        height: 150px;
        /* Adjust height for smaller screens */
        width: 300px;
    }

    .glass .gif iframe {
        height: 150px;
        width: 300px;
    }

    .stand_neck {
        margin-top: 13.5rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 18px;
        border: 10px solid white;
    }

    .stand {
        margin-top: 17rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 0px;
        border: 10px solid white;
    }
}

@media (max-width: 320px) {
    section .row {
        font-size: 24px;
        /* Adjust font size for smaller screens */
    }

    i:hover {
        text-shadow: 0 0 40px #fff;
        /* Adjust shadow for smaller screens */
    }

    .glass {
        height: 100px;
        /* Adjust height for smaller screens */
        width: 200px;
    }

    .glass .gif iframe {
        height: 100px;
        width: 200px;
    }
    .stand_neck {
        margin-top: 10rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 30px;
        border: 10px solid white;
    }

    .stand {
        margin-top: 14rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 0px;
        border: 10px solid white;
    }
}